.app {
  padding: 2rem;
  background-color: transparent;
  display: flex;
}

.app__left{
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.app__right{
  justify-content: center;
  align-items: center;
}

